body {
    height: 100vh;
    margin: 0;
    width: 100%;
    overflow: hidden;
}

.login-container {
    height: 80vh;
}

.login-card {
    border: 1px solid black;
    padding: 1rem;
}

.box {
    border: 1px solid black;
    width: 90%;
    margin: 1rem; 
    padding: 1rem;
}

.box > h2 {
    font-weight: normal;
    text-align: center;
}

form > label, input[type="submit"] {
    align-self: flex-start;
    margin-top: 2rem;
}

input[type="submit"] {
    width: 100%;
}